.image {
  width: 50px;
  border-radius: 25px;
  vertical-align: middle;
}

.text-box {
  font-size: 14px;
  width: 200px;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

.tweet {
  background-color: rgb(81, 157, 243);
  color: white;
  border: 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}