p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail {
  margin-bottom: 5px;
  width: 300px;
}

.search-box {
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.video-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.video-author {
  font-size: 14px;
  color: rgb(88, 88, 88);
  margin-bottom: 2px;
}

.video-stats {
  font-size: 14px;
  color: rgb(88, 88, 88);
}