.logo {
  width: 250px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px;
}

.search-box {
  display: block;
  width: 600px;
  border: 0;
  border-radius: 300px;
  font-size: 16px;
  line-height: 2;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}