p {
  font-family: Verdana;
  margin-top: 0;
  margin-bottom: 0;
  width: 300px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.subtitle {
  color: grey;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.get-started-button {
  background-color: green;
  color: white;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  cursor: pointer;
}