body {
  text-align: center;
}

p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.status-new {
  color: red;
}

.product {
  color: rgba(0, 0, 0, 0.705);
  font-weight: bold;
  font-size: 22px;
}

.product-description {
  font-weight: bold;
  font-size: 40px;
}

.product-price {
  color: grey;
}

.buy-product {
  background-color: rgba(0, 0, 255, 0.856);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}