.get-started-button {
  background-color: rgb(121, 82, 179);
  border: none;
  color: white;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.get-started-button:hover {
  opacity: 0.8;
}

.download-button {
  background-color: white;
  color: rgb(108, 117, 125);
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}